body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

.image{
    background-image: url(donate/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
    


.link1{
    
        padding: 10% 15%;
        border: 2px solid var(--light);
        border-radius: 25px;
        outline: none;
        font-size: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        align-items: center;

       
    
}
.head1{
  
    color: aliceblue;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 120px 0;

  

}
.head1 p{
    font-size: 16px;
}
.btn{
    background-color: tomato;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
}
.box{
    height: 70px;
    width: 70px;
    background-color:#f9f9f9;
    text-align: center;
    margin: 0 10px;
    align-items: center;
  
}

 

.box-flex{
    display: flex; 
     margin: 0 450px;   
}
.box-flex p{
    font-size: 20px;
    color: rgb(97, 92, 92)
    
}
.box .miraz{
    border: 2px solid tomato;
    background-color: rgb(218, 207, 205);
    color: tomato; !important
}

}
.donate-today{
    text-align: center;
}
.donate-today h1{
    
}
.donate-today p{
    color: rgb(9, 151, 151);
    
}
.line p{
    height: 2px;
    width: 400px;
    background-color: silver;
    
}
.money{
    margin-top: 20px;
    margin-left: 440px;
    background-position: center center;
   background-repeat: no-repeat;
   position: absolute;

}
.line p{
    
}
.second{
    text-align: center;
    align-items: center;
    margin-bottom: 300px;
}
.third{
    display: flex;
    padding: 0 70px;
    margin-bottom: 30px;
}
.food-family{
    background-color: aqua;
    margin: 0 20px;
    padding: 30px 20px;
}
.Shelter-family{
    background-color: pink;
    margin: 0 20px;
    padding: 30px 20px;
}
.education-family{
    background-color: bisque;
    margin: 0 20px;
    padding: 30px 20px;
}
.text{
   text-align: center;
   margin-bottom: 50px;
}
.btn-frm{
    text-align: center;
    background-color: antiquewhite;
    height: 70px;
    width: 600px;
    padding-top: 70px;
    margin-left: 400px;
}
.btn-frm button{
    background-color: red;
    color: #f9f9f9;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
}
.fourth{
    margin-bottom: 150px;
}
.text-footer{
    text-align: center;
    background-color: black;
    height: 150px;
}
.text-footer h1{
    color: tomato;
     padding-top: 50px;
}
.text-footer p{
    color: white;
}
