.image{
    background-image: url(donate/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
    


.link1{
    
        padding: 10% 15%;
        border: 2px solid var(--light);
        border-radius: 25px;
        outline: none;
        font-size: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        align-items: center;

       
    
}
.head1{
  
    color: aliceblue;
    font-size: 30px;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 120px 0;

  

}
.head1 p{
    font-size: 16px;
}
.btn{
    background-color: tomato;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 10px;
    border-style: none;
}
.box{
    height: 70px;
    width: 70px;
    background-color:#f9f9f9;
    text-align: center;
    margin: 0 10px;
    align-items: center;
  
}
.box:hover{
    color: tomato;
    border: 2px solid tomato;
 
}
.box-flex{
    display: flex; 
     margin: 0 450px;   
}
.box-flex p{
    font-size: 18px;
}
.donate-today{
    text-align: center;
}
.donate-today h1{
    
}
.donate-today p{
    color: rgb(9, 151, 151);
    
}
.line p{
    height: 2px;
    width: 400px;
    background-color: silver;
    margin-right: 200px;

}
.money{
    margin-top: 20px;
    margin-left: 550px;
    background-position: center center;
   background-repeat: no-repeat;
   position: absolute;

}
.line p{
    margin-right: 200px;
}
